 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');  */

:root{
  --bgColor:#131722 ;
}

body{
  background-color:var(--bgColor) ;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: aliceblue;
}

.GameJo{
  margin-top: -20px;
  width: 250px;
  margin-left: 510px;
}

.LevelGame{
  /* margin-left: 200px; */
  height: 60px;
  margin-top: 20px;
  /* text-align: center; */
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-select{
  background-color: #6495ED ;
  border-color: #0000FF;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  
}

.AddAccount{
  border-radius: 10px;
  text-align: center;
  font-size: 100px;
  padding-top: 20px;
  background-color: #FFD700;
  
  
}

td{
    height: 200px;
}
.MyTable{
  /* border: 10px solid black; */
  margin-top: 20px;
  /* height: 500px; */
  margin-left: 200px;
} 

.MyBtn{
  
}
.PlayarRow{
  margin-left: 150px;
}

.Playar{
  border-radius: 50px;
  border: 7px solid black;
  margin-top: 20px;
  text-align: center;
  height: 80px;
  margin-left: 300px;
  font-size: 40px;
  font-weight: bold;
  background-color: #E8175D;
  color: #000 ;
}

.RestBtn{
  margin-left: 470px;
  height: 60px;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: #E8175D;

}



/*foooooooooooooter*/


.footer{
  background-color: #24262b;
  padding: 70px 0;
  font-family: 'Poppins', sans-serif;
}
.footer-content{
  max-width: 1170px;

  margin: auto;
}
.footer-list{
  list-style: none;
  padding-inline-start: 0px;
}
.footer-row{
  display: flex;
  margin-left: 250px;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #db2d2e;
  height: 2px;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 7px;
}
.footer-col .social-footer a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-footer a:hover{
  color: #db2d2e;
  background-color: #ffffff;
}

.last{
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: -50px;
}

/*EEEEENNNNNNddddddddd Foooooooooooooter*/

